.tituloTopo{
    height: 50px;
    background-color: rgb(221, 154, 30)
}
header{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

ul {
    display:inline-block;
    vertical-align: top;
    padding-right: 20%;
}

body {
    background-color:cornflowerblue
}
#myphoto {
    width: 50%;
    padding-top: 2px;
}
#informacoesProfisssionais {
font-size: 20PX;
}





